<div class="row">
  <div class="span8 offset2">
    <h1>Members</h1>
    <table class="table">
      <thead>
        <tr>
          <th>Picture</th>
          <th>Name</th>
          <th>Resume</th>
          <th>Graduation</th>
        </tr>
      </thead>
      <tbody>
        <% @user.each do |user| %>
          <tr>
            <% if user.profpic.exists? %>
              <td><%= image_tag user.profpic.url(:thumb) %></td>
            <% else %>
              <td><%= image_tag '/anonymous-icon.jpg' %></td>
            <% end %>
            <td><%= link_to user.name, profile_path(user) %> </td>
            <% if user.resume.exists? && (!(user_signed_in?) || current_user.id == user.id) %>
              <td><%= link_to 'View Resume', user.resume.url, :class => "btn" %> </td>
            <% else %>
              <td>N/A</td>
            <% end %>
            <% if user.graduation.blank? %>
              <td>N/A</td>
            <% else %>
              <td><%= user.graduation %></td>
            <% end %>
          <% end %>
        </tbody>
      </table> <br />
    </div>
  </div>
